button {
  cursor: pointer;
  padding: 7px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-right: 5px;
  outline: none;
  font-size: 12px;
}

button:hover {
  background-color: #eee;
}

button:active {
  background-color: #ccc;
  border: 1px solid #000;
}
